.root {
  cursor: pointer;
  width: 2.75rem;
  display: flex;
  justify-content: center;

  &:hover {
    .inner {
      border-radius: 0;
      width: 2.75rem;
    }
  }
}

.current {
  border-radius: 100%;
  border: solid 2px rgb(var(--color-foreground));
  overflow: hidden;
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  transition:
    border-radius 200ms ease-in-out,
    width 200ms ease-in-out;
}

.flag {
  width: 2rem;
  height: auto;
  scale: 1.3;
}
